.header {
  width: 100%;
  height: 100vh;
  .title {
    padding: 20%;
    text-align: center;
    color: white;
    font-size: 2rem;
  }
}

body::before {
  content: "";
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: #14c2cc;
  background-image: radial-gradient(
      circle farthest-side at top right,
      transparent,
      #0d64ff
    ),
    radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #ff00a0);
  animation: bg-change 10s infinite;
}

* {
  margin: 0;
  padding: 0;
}

::ng-deep {
  body {
    margin: 0;
  }
}
